In [6]:
from faker import Faker
import pandas as pd

In [7]:
def create_dataset(num_of_rows, number_of_columns, faker):
    dataset = []
    for row in range(num_of_rows):
        line = []
        for col in range(number_of_columns):
            name = faker.name()
            line.append(name)
        dataset.append(line)
    return pd.DataFrame(dataset)

In [12]:

class Hash:
    def __init__(self, s: str):
        self.p, self.m, self.hash = 31, 10**9 + 7, 0
        self.compute_hashes(s)
 
    def compute_hashes(self, s: str):
        hash = 0
        for ch in s:
            value = ord(ch)
            hash = (hash * self.p + value) % self.m
        self.hash = hash
 
    def __eq__(self, other):
        return self.hash == other.hash
 
    def __str__(self):
        return f'({self.hash})'
 
def get_hash_value(s: str):
    return Hash(s).hash

print(get_hash_value("abc"))

<function get_hash_value at 0x12c163310>

In [9]:
Faker.seed(123)
fake = Faker()

dataset = create_dataset(10, 3, fake)

display(dataset)

                  0                  1                 2
0   Brandon Russell     Steven Johnson  Evelyn Christian
1       George Cook       Aaron Graham        Kyle Jones
2  Jerome Whitehead      Charles Tyler      Thomas Berry
3         Ryan Mack       Robert Clark    Kelsey Pacheco
4     James Hammond     Melinda Little   Stefanie Tucker
5      Jade Johnson  Catherine Wilkins      Mary Jackson
6       James Jones     Kenneth Rogers    Brandon Fuller
7      Harold Perez        Misty Stout     Wendy Maynard
8      Cynthia Webb    William Wallace     Amanda Taylor
9        David Bell     Jeffrey Fisher      Arthur Kelly